
.box {        
    text-align: center; /*  */
    width: 450px;
    font-size: 20px;
    font-weight: bold;
    display: flex;    
    justify-content: right;
}

.navbar {
    width: 450px;
    text-align: justify; /* выравнивание теста по ширине */
}

.box1 {        
    margin-left: 316px;
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
    color: black;
    border: 1px solid black;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    padding: 0px;   
}

.box1:hover {
    border: 1px solid #84fab0;
    color: white;
}

.box2 {
    width: 225px;
    color: #1635e3;
    border: 2px solid #1635e3;
    font-family: inherit;
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
    font-size: 16px;
    cursor: pointer;
    padding: 0px;    
    height: 30px;
    border-radius: 10px;
}

.box2:hover {
    border: 2px solid #84fab0;
    color: white;
}

.container88 {
    display: flex;                  /* в сочетании рамка по центру: */
    flex-direction: column;     
    align-items: center;
}

.box3 {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    width: 450px;
    height: 150px;
}

.box4 {
    width: 450px;
    text-align: center; /*  */
    font-size: 18px;
    font-weight: bold;
}

.box5 {
    width: 450px;
    text-align: center; /*  */
    font-size: 14px;
    color: darkviolet;
}

.box6 {
    text-align: center; /*  */    
    width: 450px;
    margin-top: 5px;
}

.box7 {
    width: 450px;
    text-align: center; /*  */
    font-size: 18px;
}

.box8 {    
    text-align: justify; /* выравнивание теста по ширине */
    font-size: 16px;
    padding: 0px;
    margin-top: 5px;    
    width: 450px;
    border-width: 1px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-color: rgb(200, 255, 255);         /* цвет рамки*/
    background: white;
}

.time-btnOne {
    background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
    border: 2px solid black;
    color: black;
    cursor: pointer;
    font-family: inherit;
    padding: 0px;
    font-size: 16px;
    width: 225px;
    height: 30px;
    border-radius: 10px;
}
  
.time-btnOne:hover {
    border: 2px solid #16D9E3;
    color: white;
}

.time-btnTwo {
    background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
    border: 2px solid black;
    color: black;
    cursor: pointer;
    font-family: inherit;
    padding: 0px;
    font-size: 16px;
    width: 225px;
    height: 30px;
    border-radius: 10px;
}
  
.time-btnTwo:hover {
    border: 2px solid #16D9E3;
    color: white;
}